@font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 50;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-50.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-100.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 150;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-150.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-200.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 250;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-250.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-300.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 350;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-350.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-400.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 450;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-450.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-500.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 550;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-550.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-600.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 650;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-650.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-700.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 750;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-750.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-800.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 850;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-850.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-900.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 950;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-950.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    src: url('../fonts/aspekta/Aspekta-1000.woff2') format('woff2');
  }
  
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  @font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  @font-face {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@font-face {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}