.footerGreen{
    background: radial-gradient(116.19% 210.15% at 36.27% 57.58%, #89E8CD 0%, #87E4CB 14%, #83D8C6 28%, #7BC4BE 42%, #71A8B3 56%, #6384A5 70%, #535893 84%, #40257F 98%, #3D1D7C 100%);
    padding-bottom: 30px;
    @media ($max992) {
        padding: 30px 0;
    }
    .fgCont{
        display: grid;
        grid-template-columns: 40% auto;
        align-items: center;
        gap: 0 70px;
        @media ($max640) {
            grid-template-columns: auto;
        }
        .imgBox{

        }
        .content{
            display: grid;
            gap: 5px 0;
            @media ($max640) {
                text-align: center;
                padding: 10px;
            }
            .ctas{
                margin-top: 35px;
                display: flex;
                gap: 0 20px;
                @media ($max640) {
                    justify-content: center;
                    margin-top: 5px;
                }
            }
        }
    }
}