.blogs{
    .hero{
        height: 80vh;
    }
    .caseOverview{
        position: relative; 
        background-color: #EAF7FF;
        .container{
            position: relative;
            z-index: 2;
        }
        .watermark{
            position: absolute;
            top: 150px;
            left: 48%;
            transform: translateX(-50%);
            z-index: 1;
        }
        &.padding{
            padding-top: 50px;
            // padding-bottom: 150px;
            @media ($max992) {
                padding-top: 70px;
            }
        }
        .caseBox{
            .blogGridBox{
                margin: 10px 0 50px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                @media ($max640) {
                   grid-template-columns: 1fr;
                }
                .box{
                    img{
                        /*aspect-ratio: 4/2;*/
                    }
                    .blog-info{
                        background-color: #003E63;
                        padding: 25px;
                    }
                    .dates{
                        font-weight: 600;
                        font-size: 12px;
                        text-transform: capitalize;
                        color: #EAF7FF;
                        padding-bottom: 10px;
                    }
                    .abstract{
                        color: #EAF7FF;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 26px;
                        padding-bottom: 10px;
                        height: 65px;
                        overflow: hidden;
                        @media ($max640){
                        font-size: 18px;
                        height: auto;
                      }
                    }
                    .small-desc{
                        color: #EAF7FF;
                        height: 80px;
                        @media ($max640){
                           height: auto;
                          }
                    }
                    .read-more{
                         width: 122px;
                        margin-top: 0;
                    }
                }
            }

        }
    }
    .pagination {
        margin-top: 40px;
        display: flex;
        justify-content: center;

  .page-numbers {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 14px;
    border: 1px solid #ddd;
    color: #003e63;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      background: #003e63;
      color: #fff;
      border-color: #003e63;
    }

    &.current {
      background: #003e63;
      color: #fff;
      border-color: #003e63;
    }
  }
}
}
.blog-single-banner{
    background-image: url("../../app/images/blog-single.png");
    background-size: cover;
    background-position: center center;
    padding: 100px 0 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    @media ($max640) {
        flex-direction: column;
    }
    .container{
        display: flex;
        align-items: center;
        @media ($max640) {
            flex-direction: column;
        }
        h1{
            color: #003E63;
            font-weight: 600;
            font-size: 40px;
            line-height: 52px;
            @media ($max640) {
             font-size: 26px;
             line-height: 36px;
            }
        }
    }
    .categoryName{
        background-color: #EAF7FF;
        padding: 8px 15px;
        margin-bottom: 10px;
        font-size: 12px;
        color: #003E63;
        display: inline-block;
        text-transform: uppercase;
    }
    .date{
            color: #fff;
    display: flex;
    gap: 8px;
    align-content: center;
    align-items: center;
    margin-top: 25px;
    }
}
.blog-page.breadcrumbs{
    background-color: #eaf7ff;
    .secPrefix{
        border-bottom: 1px solid #003E6366;
        padding: 10px 0;
        a{
            color: #0D669C;
            font-weight: 400;
            font-size: 13px;
        }
    }
}