.brandHero{
    background-image: url('../images/brandsBanner.webp');
    .container{
        height: 100%;
        .bannerCont{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            align-items: center;
            grid-gap: 0 50px;
            height: 100%;
            .content{
                display: grid;
                grid-gap: 35px 0;
                .mainTitle{
                    font-weight: 650;
                    font-size: 46px;
                    line-height: 47px;
                    color: #151515;
                }
                .para{
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 24px;
                }
                .ctas{
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }
}
.branding{
    background: linear-gradient(180deg, #EAF7FF 0%, #FBFEFF 100%);
    .brandingCont{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 25% auto;
        gap: 0 75px;
        .sideBar{
            .box{
                background-color: #FFFFFF;
                padding: 15px 20px;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                gap: 10px 0;
                >div{
                    padding: 10px 0;
                    border-bottom: 1px solid #C9E4F4;
                    color: #161616;
                    font-weight: 600;
                    &:last-of-type{
                        border-bottom: none;
                    }
                }
            }
        }
        .mainCont{
            .secPrefix{
                margin-bottom: 15px;
            }
            .secTitle{
                margin-bottom: 20px;
            }
            .abtBoxes{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0 20px;
                margin: 50px 0;
                .box{
                    border-radius: 12px;
                    padding: 25px 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px 0;
                    &:first-of-type{
                        background-color: #B4E2FF;
                    }
                    &:nth-of-type(2){
                        background-color: #B4E2EB;
                    }
                    &:last-of-type{
                        background-color: #B4E2D7;
                    }
                    .number{
                        color: #161616;
                        font-weight: 300;
                        font-size: 42px;
                    }
                    .title{
                        color: #161616;
                        font-weight: 600;
                    }
                    p{
                        color: #161616;
                        font-weight: 450;
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}
.services-brand{
    .brandingCont{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 211px auto;
        gap: 0 160px;
    }
}
.services-list-wrap{
    .inner-service-list{
        .service-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        gap: 12px;
        margin-bottom: 12px;
        height: 130px;
        background: #FFFFFF;
        border-radius: 12px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

            .service-icon{

            }
            .service-info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 0px;
                gap: 8px;
                width: 496px;
                height: 64px;

                .service-title{
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: start;
                    padding: 0px;
                    width: 496px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    color: #161616;

                }
                .service-desc{
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: start;
                    padding: 0px;
                    gap: 10px;
                    width: 476px;
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 24px;
                    color: #161616;
                }
            }
            .service-btn{
                a{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 17px;
                    gap: 10px;
                    width: 143px;
                    height: 44px;
                    border: 1px solid #003E63;
                    border-radius: 6px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: #003E63;
                }
            }
        }
    }
}