.career{
    .hero{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .bannerCont{
            grid-template-columns:50% auto;
            padding-right: 30px;
            @media ($max1024) {
                grid-template-columns: auto;
                padding-right: 0;
            }
            .content{
                color: $black;
                .mainTitle{
                    color: #003E63;
                }
            }
        }
    }
    .careerOv{
        background-color: #EAF7FF;
        .ovBox{
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(7, auto);
            grid-gap: 18px 18px;
            @media ($max640) {
                margin-top: 20px;
                grid-template-columns: auto;
                grid-template-rows: auto;
            }
            @media ($min641) {
                .boxa{
                    grid-row: span 3;
                }
                .boxb{
                    grid-column: span 2;
                    grid-row: span 7;
                }
                .boxc{
                    grid-row: span 3;
                }
                .boxd{
                    grid-row: span 3;
                }
                .boxe{
                    grid-row: span 4;
                }
                .boxf{
                    grid-row: span 4;
                    grid-column: span 2;
                }
            }
        }
    }
    .openings{
        background-color: #EAF7FF;
        .openingSliderWrapper{
            margin-top: 40px;
            .openingSlider{
                .slick-slide{
                    padding: 0 20px;
                    @media ($max640) {
                        padding: 5px;
                    }
                }
                .slick-list{
                    padding-left: 0px !important;
                }
                .box{
                    box-shadow: 0px 8px 24px 0px #959DA533;
                    background-color: #fff;
                    border-radius: 12px;
                    padding: 50px 40px;
                    @media ($max640) {
                        box-shadow: unset;
                        padding: 25px 20px;
                    }
                    .main{
                        padding-bottom: 30px;
                        border-bottom: 1px solid #D2D2D2;
                        margin-bottom: 30px;
                        .title{
                            font-size: 24px;
                            line-height: 42px;
                            font-weight: 600;
                            color: #161616;
                            padding-bottom: 20px;
                        }
                        .moreInfo{
                            display: flex;
                            gap: 15px;
                            .capsule{
                                border-radius: 999px;
                                border: 1px solid #000000;
                                padding: 5px 15px;
                                font-size: 14px;
                                color: #161616;
                            }
                        }
                    }
                    .btn{
                        margin-top: 60px;
                    }
                }
            }
        }
    }
    .advantages{
        .advantagesBox{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 30px;
            margin-top: 30px;
            @media ($max992) {
                grid-template-columns: auto;
                gap: 15px 0;
            }
            .box{
                border-radius: 12px;
                text-align: center;
                padding: 50px 35px;
                display: grid;
                gap: 10px 0;
                justify-content: center;
                &:first-of-type{
                    background-color: #FCF0D9;
                }
                &:nth-of-type(2){
                    background-color: #D6F0FF;
                }
                &:last-of-type{
                    background-color: #ADE1FF;
                }
                .image{
                    margin: 0 auto;
                }
                .title{
                    color: #4C4C4C;
                    font-size: 24px;
                    font-weight: 750;
                }
                .para{
                    color: #4C4C4C;
                    font-weight: 450px;
                }
            }
        }
    }
}