.caseStudy{
    .caseOverview{
        position: relative;
        background-color: #EAF7FF;
        .container{
            position: relative;
            z-index: 2;
        }
        .watermark{
            position: absolute;
            top: 150px;
            left: 48%;
            transform: translateX(-50%);
            z-index: 1;
        }
        &.padding{
            padding-top: 50px;
            padding-bottom: 0px;
            @media ($max992) {
                padding-top: 70px;
            }
        }
        .caseBox{
            .partA{
                margin-top: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0 40px;
                @media ($max992) {
                    flex-direction: column;
                    gap: 15px 0;
                }
                @media ($max640) {
                    margin-top: 5px;
                }
                .para{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 100%;
                    color: #161616;
                    padding-left: 50px;
                    @media ($max992) {
                        padding-left: 0px;
                    }
                    @media ($max640) {
                        font-size: 16px;
                    }
                }
            }
            .partB{
                .caseGridBox{
                    margin: 30px 0 50px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 30px;
                    @media ($max992) {
                        margin: 30px 0;
                        gap: 45px 30px;
                    }
                    @media ($max640) {
                        grid-template-columns: auto;
                        gap: 10px 0;
                    }
                    .box{
                        overflow: hidden;
                        .case-img{
                            height: 290px;
                            object-fit: cover;
                        }
                    .case-study-info{
                        background-color: #003E63;
                        padding: 25px;
                            .dates{
                                font-weight: 600;
                                font-size: 12px;
                                text-transform: capitalize;
                                color: #4C4C4C;
                                padding-bottom: 10px;
                            }
                            .case-category{
                                color: #fff;
                                font-size: 14px;
                                margin-bottom: 10px;
                            }
                            .case-title{
                                color: #EAF7FF;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 26px;
                                padding-bottom: 10px;
                            }
                            .abstract{
                                color: #EAF7FF;
                                font-size: 16px;
                                line-height: 26px;
                                padding-bottom: 10px;
                            }
                            .small-desc{
                                color: #EAF7FF;
                                height: 80px;
                                font-size: 14px;
                            }
                            .read-more{
                                width: 122px;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
#caseStudyFilter{
    background-color: transparent;
    border-bottom: 1px solid #003e63;
    box-shadow: none;
    border-left: 0px;
    font-size: 18px;
    color: #003e63;
    border-top: 0;
    border-right: 0;
    &:hover,&:active,&:focus{
        outline: none;
    }
}