.clients{
    .hero{
        height: 80vh;
    }
    .clientOverview{
        position: relative;
        background-color: #EAF7FF;
        .container{
            position: relative;
            z-index: 2;
        }
        .watermark{
            position: absolute;
            top: 150px;
            left: 48%;
            transform: translateX(-50%);
            z-index: 1;
        }
        &.padding{
            padding-top: 50px;
            // padding-bottom: 150px;
            @media ($max992) {
                padding-top: 70px;
            }
        }
        .caseBox{
            .partA{
                margin-top: 25px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                gap: 0 40px;
                @media ($max992) {
                    flex-direction: column;
                    gap: 15px 0;
                    margin-top: 15px;
                }
                .para{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 100%;
                    color: #161616;
                    padding-left: 50px;
                    @media ($max992) {
                        padding-left: 0;
                    }
                    @media ($max640) {
                        font-size: 16px;
                    }
                    a.inner-link{
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: #003E63;
                        padding-bottom: 0px;
                        margin-top: 41px;
                        display: block;
                        margin-bottom: -60px;
                        @media ($max992) {
                            margin-top: 20px;
                        }
                        span{
                            position: relative;
                            &:after{
                                position: absolute;
                                bottom: -2px;
                                border-bottom: 2px solid #003E63;
                                content: '';
                                width:100%;
                                height: 2px;
                                left: 0;
                            }
                        }
                    }
                }
            }
            .partB{
                /*margin-top: 225px;*/
                @media ($max640) {
                    /*margin-top: 150px;*/
                }
                .head{
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 30px;
                    .title{
                        font-weight: 600;
                        font-size: 24px;
                        color: #161616;
                    }
                    .dropdown{
                        select{
                            background-color: transparent;
                            border: 1px solid #000000;
                            border-radius: 24px;
                            padding: 6px 20px;
                            &:focus,
                            &:focus-visible,
                            &:focus-within{
                                outline: none;
                            }
                        }
                    }
                }
                .gridBox{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    padding-bottom: 60px;
                    @media ($max992) {
                        grid-template-columns: repeat(4, 1fr);
                    }
                    @media ($max640) {
                        grid-template-columns: auto;
                        padding-bottom: 30px;
                    }
                    .box{
                        border: 1px solid #D0D0D0;
                        padding: 30px 25px;
                        display: flex;
                        align-items: center;
                        min-height: 200px;
                        justify-content: center;
                        background: #eaf7ff;
                        img{
                                mix-blend-mode: multiply;
                        }
                    }
                }
            }
        }
    }
    .buisSol{
        background-color: #B4E2EB;
        .buisSolBox{
            margin-top: 80px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0 45px;
                @media ($max992) {
                    grid-template-columns: auto;
                    gap: 15px 0;
                    margin-top: 30px;
                }
                .box{
                    background-color: #FFFFFF;
                    border-radius: 12px;
                    padding: 40px;
                    display: grid;
                    gap: 15px 0;
                    .title{
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 32px;
                        color: #161616;
                    }
                    .para{
                        font-weight: 450;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
        }
    }
    .ambitions{
        .partA{
            .secTitle{
                padding-bottom: 30px;
            }
        }
        .partB{
            padding-top: 100px;
            @media ($max992) {
                padding-top: 30px;
            }
            .dataBox{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0 45px;
                padding-bottom: 90px;
                @media ($max992) {
                    grid-template-columns: auto;
                    text-align: center;
                    gap: 15px 0;
                    padding-bottom: 30px;
                }
                .box{
                    color: #161616;
                    .number{
                        font-weight: 600;
                        font-size: 72px;
                        color: #161616;
                    }
                    .title{
                        font-weight: 400;
                        font-size: 20px;
                        padding-bottom: 25px;
                        @media ($max992) {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}


.logo-tab-content {
  display: none;
}

.logo-tab-content.active {
  display: block;
}

.logo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.logo-item img {
  /*max-width: 120px;*/
  height: auto;
  transition: transform 0.3s;
}

.logo-item img:hover {
  transform: scale(1.05);
}
.logo-left-tab {
    border-radius: 24px;
    background-color: #fff;
    padding: 24px;
    h2{
        font-size: 32px;
        color: #161616;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .logo-tabs {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-bottom: 30px;
        list-style: none;
        flex-direction: column;
        .logo-tab {
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.3s;
            color: #000;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 12px;
            border-bottom: 1px solid #C9E4F4;
            gap: 10px;
            &.active {
            background: linear-gradient(279.52deg, #FDC500 2.43%, #FDC500 42.22%, #FD52ED 97.57%);
            opacity: 0.9;
            border-radius: 8px;
            border-bottom: 0px;
            }
        }
    }
}
.logo-right{
    .logo-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px 0px;
        @media ($max640) {
        grid-template-columns: repeat(2, 1fr);

        }
        .logo-item{
            margin: 10px;
            border-right: 1px solid #C4DFEF;
            border-bottom: 1px solid #C4DFEF;
            img{
                width: 100%;
            }
        }
    }
}