.contactUs{
    .hero{
        height: 80vh;
    }
    .contactUsOv{
        position: relative;
        background-color: #EAF7FF;
        .container{
            position: relative;
            z-index: 2;
        }
        .watermark{
            position: absolute;
            top: 150px;
            left: 48%;
            transform: translateX(-50%);
            z-index: 1;
        }
        &.padding{
            padding-top: 50px;
            // padding-bottom: 150px;
            @media ($max992) {
                padding-top: 70px;
            }
        }
        .caseBox{
            .partA{
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                gap: 20px 0px;
                @media ($max992) {
                    flex-direction: column;
                    gap: 15px 0;
                }
                @media ($max640) {
                    margin-top: 5px;
                }
                .para{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 100%;
                    color: #161616;
                    // padding-left: 50px;
                    @media ($max992) {
                        padding-left: 0px;
                    }
                    @media ($max640) {
                        font-size: 16px;
                    }
                }
            }
            .partB{
                margin-top: 50px;
                display: grid;
                grid-template-columns: 55% auto;
                gap: 50px;
                @media ($max992) {
                    margin-top: 30px;
                    grid-template-columns: auto;
                    gap: 20px;
                }
                .adBox{
                    background: linear-gradient(180deg, #0D669C 0%, #003E63 100%);
                    padding: 40px 30px;
                    border-radius: 12px;
                    .layer{
                        padding: 20px 0;
                        border-bottom: 1px solid #4A7791;
                        &:last-of-type{
                            border-bottom: 0;
                            padding-bottom: 0;
                        }
                        .title{
                            font-weight: 550;
                            font-size: 20px;
                            color: #FFFFFF;
                            padding-bottom: 10px;
                        }
                        .address{
                            font-weight: 450;
                            font-size: 16px;
                            line-height: 24px;
                            color: #ADE1FF;
                            padding-bottom: 20px;
                        }
                        .goldenLink{
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: .02em;
                            text-transform: uppercase;
                            color: #FDC500;
                            padding-bottom: 0;
                            display: inline-block;
                            padding-bottom: 1px;
                            border-bottom: 1px solid #FDC500;
                        }
                        &.layerB{
                            .numbers{
                                padding-bottom: 10px;
                                &:last-of-type{
                                    padding-bottom: 0;
                                }
                                img{
                                    vertical-align: middle;
                                }
                                .phone{
                                    font-weight: 450;
                                    font-size: 16px;
                                    color: #ADE1FF;
                                }
                            }
                        }
                        &.layerD{
                            .icons{
                                padding-top: 20px;
                                display: flex;
                                gap: 0 20px;
                            }
                        }
                    }
                }
            }
            .partC{
                .iframeWrapper{
                    margin-top: 30px;
                }
            }
        }
    }
}