.hero {
	height: 100vh;
	background-color: #ffd338;
	background-image: url(../../app/images/home-banner.svg);
	background-repeat: no-repeat;
	background-size: cover;

	.banner-title {
		font-family: "Playfair Display", serif;
		position: absolute;
		bottom: 0;
		font-weight: 900;
		font-size: 110px;
		line-height: 112px;
		color: #151515;
	}
}

.shapingFuture {
	background-color: #EAF7FF;

	.future_swiper_wrapper {
		margin-top: 20px;
	}

	.data-stats {
		padding: 130px 0;

		.stats {
			display: flex !important;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 10px 24px;
			gap: 10px;

			.number {
				font-family: 'Urbanist';
				font-weight: 800;
				font-size: 92px;
				line-height: 102px;
				background: linear-gradient(90deg, #003E63 0%, #0D669C 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}

			.para {
				font-family: 'Inter';
				font-weight: 300;
				font-size: 36px;
				line-height: 52px;
				color: #161616;
			}
		}
	}
}

.textAnim {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	color: rgba(22, 22, 22, 0.05);
	white-space: nowrap;

	&.text-anim-1 {
		font-size: 36px;
		line-height: 44px;
	}

	&.text-anim-2 {
		font-size: 56px;
		line-height: 65px;
	}

	&.text-anim-3 {
		font-size: 60px;
		line-height: 70px;
		text-transform: uppercase;
	}

	&.text-anim-4 {
		font-weight: 900;
		font-size: 160px;
		line-height: 128px;
		text-transform: uppercase;
	}

	&.text-anim-5 {
		font-weight: 400;
		font-size: 60px;
		line-height: 73px;
		text-transform: uppercase;
	}
}



.specialize_slider {
	.specialise_1 {
		background-color: #003E63;
		padding: 250px 150px;
	}

	.specialise_2 {
		background-image: url("../../app/images/home-banner.svg");
		background-size: cover;
		background-repeat: no-repeat;
		padding: 250px 150px;
	}
}

.specialize-slide {
	position: relative;

	h2 {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 300;
		font-size: 48px;
		line-height: 52px;
		color: #FFFFFF;
	}

	h3 {
		font-family: 'Playfair Display';
		font-style: normal;
		font-weight: 900;
		font-size: 82px;
		line-height: 82px;
		color: #FFFFFF;
	}

	.specialiseArrow {
		display: flex;
		justify-content: space-between;
		width: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 4;
		cursor: pointer;
	}
}

.sec-title {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 52px;
	color: #003E63;

	&.text-white {
		color: #fff;
	}
}

.home-project {
	position: relative;
	overflow: hidden;

	.section_line_wrap {
		position: absolute;
		left: 45%;
		top: -150px;
		width: 80px;
		transform: translateX(-50%);
		height: 100%;
	}
	.section_wrap_btm {
		position: relative;

		.section_line_wrap_btm {
			position: absolute;
			left: 45%;
			bottom: 300px;
			width: 80px;
			transform: translateX(-50%);
			height: 100%;
		}
	}
	
	
	p {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 200;
		font-size: 28px;
		line-height: 34px;
		color: #161616;
	}
	
	.linesvg_wrap {
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);

		.g-line-1 {
		  stroke-dasharray: 6141.7158203125; /* Path length */
		  stroke-dashoffset: 6141.7158203125; /* Initially hidden */
		  stroke: #4A7A5E;
		  stroke-width: 2;
		  fill: none;
		}

	}
}

.project-card-list {
	display: flex;
	margin-top: -7rem;

	&.justify-end {
		justify-content: flex-end;
	}

	.project-card-info {
		h3 {
			font-family: 'Playfair Display';
			font-style: normal;
			font-weight: 700;
			font-size: 28px;
			line-height: 32px;
			color: #003E63;
			margin-top: 20px;
		}

		p {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: #161616;
			margin-top: 10px;
		}

	}
}

.white-btn,
.blue-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 196px;
	height: 44px;
	border: 1px solid #003E63;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #003E63;
	margin-top: 30px;
}

.blue-btn {
	background-color: #003E63;
	color: #fff;
}

.pinaka-service {
	background-color: #003E63;
}

.pinaka-service-list {
	.cols {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.col {
		width: calc(33.33% - 28px);
		margin: 14px;
		cursor: pointer;

		.container {
			padding: 0;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-perspective: 1000px;
			perspective: 1000px;
		}
	}

	.front {
		&.bg-top {
			background: linear-gradient(-26.43deg, #FDC500 9.51%, #FDC500 43.38%, #FD52ED 90.49%);
		}

		background: linear-gradient(156.43deg, #FDC500 9.51%, #FDC500 43.38%, #FD52ED 90.49%);
		border-radius: 5px;
	}

	.front,
	.back {
		background-size: cover;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		background-position: center;
		-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
		transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
		-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
		transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
		transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		text-align: center;
		min-height: 436px;
		height: auto;
		border-radius: 5px;
		color: #fff;
		font-size: 1.5rem;
	}

	.back {
		background: #cedce7;
		background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
		background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
		background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
	}

	/*.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}*/
	.container:hover .front,
	.container:hover .back {
		-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
		transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
		-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
		transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
		transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	}

	.back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.inner {
		-webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
		transform: translateY(-50%) translateZ(60px) scale(0.94);
		top: 50%;
		position: absolute;
		left: 0;
		width: 100%;
		padding: 2rem;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		outline: 1px solid transparent;
		-webkit-perspective: inherit;
		perspective: inherit;
		z-index: 2;
	}

	.container .back {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.container .front {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.container:hover .back {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.container:hover .front {
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}


	.front {
		.inner {
			p {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 700;
				font-size: 32px;
				line-height: 38px;
				text-transform: uppercase;
				color: #FFFFFF;
				text-align: left;
			}
		}
	}

	.front {
		.inner {
			span {
				color: rgba(255, 255, 255, 0.7);
				font-family: 'Montserrat';
				font-weight: 300;
			}
		}
	}

	@media screen and (max-width: 64rem) {
		.col {
			width: calc(33.333333% - 2rem);
		}
	}

	@media screen and (max-width: 48rem) {
		.col {
			width: calc(50% - 2rem);
		}
	}

	@media screen and (max-width: 32rem) {
		.col {
			width: 100%;
			margin: 0 0 2rem 0;
		}
	}
}
.clients, .partners{
	.clientCont .gridBoxs {
	    margin-top: 0;
	    display: grid;
	    grid-template-columns: repeat(3,1fr);
	    gap: 50px;
	    .box {
		    display: flex;
		    align-items: center;
		    text-align: center;
		    justify-content: center;
		    background-color: #fff;
		    img{
		    	/*width: 100%;*/
		    }
		}
	}

}
.secPrefix{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #003E63;
margin-bottom: 10px;
}
.secTitle{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 52px;
color: #161616;
}
.secPara{
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #161616;
}
.partners{
	background-color: #EAF7FF;
	.clientCont{
		    display: flex;
    flex-direction: row-reverse;
    img{
		    	width: 100%;
		    	padding: 20px;
		    }
	}
}