.services{
	background: #eaf7ff;
	.secPrefix{
		padding-bottom: 15px;
		border-bottom: 1px solid #D9D9D9;
	}
	.br-bt-1{
		border-bottom: 1px solid #D9D9D9;
	}
	.main-title{
		font-weight: 600;
		font-size: 36px;
		line-height: 56px;
		color: #161616;
	}
	.services-desc{
		font-weight: 300;
		font-size: 16px;
		line-height: 26px;
		color: #161616;

	}
	.service-list{
		display: flex;
		gap: 30px;
		@media ($max992) {
			overflow: auto;
		}
		.services-item{
			> img{
				min-width: 330px;
				height: 264px;
				width: 330px;
    			object-fit: cover;
			}
			.services-title{
				display: flex;
				justify-content: space-between;
    			align-items: center;
    			margin-top: 10px;
				h4{
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					color: #161616;

				}
			}
		}
	}

}