.single {
  .hero{
        height: 60vh;
    }
  color: #161616;
  .singleOverview {
    background-color: #eaf7ff;
    padding-top: 120px;
    .secPrefix {
      a {
        color: #161616;
      }
    }
    .blog-title{
      .line{
        border-bottom: 3px solid #003E6366;
        padding-top: 100px;
      }
      .secTitle {
        font-size: 36px;
        line-height: 46px;
        width: 80%;
        color: #003E63;
      }
      .topInfo {
        width: 80%;
      margin: 20px 0 30px;
      padding: 0px 0;
      border-bottom: 1px solid #535353;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
    }
    }
    
    .blog-content{
      width: 70%;
      margin: auto;
    }
    .contentPanel {
      margin-top: 30px;
      p {
        color: #161616;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
      }
      .publishImg {
        margin: 48px 0;
        border-radius: 12px;
      }
      h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 56px;
      }
      h3 {
        font-weight: 600;
        font-size: 26px;
        line-height: normal;
      }
      .recentPost {
        margin-top: 80px;
        .recentGridBox {
          margin: 10px 0 50px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          .box{
            .blog-info{
                background-color: #003E63;
                padding: 25px;
            }
            .dates{
                font-weight: 600;
                font-size: 12px;
                text-transform: capitalize;
                color: #EAF7FF;
                padding-bottom: 10px;
            }
            .abstract{
                color: #EAF7FF;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                padding-bottom: 10px;
                height: 65px;
                overflow: hidden;
            }
            .small-desc{
                color: #EAF7FF;
                height: 80px;
                font-size: 14px;
            }
            .read-more{
                color: rgba(234,247,255,0.5);
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-top: 20px;
            }
          }
        }
      }
    }
  }
  .wantResult{
    background: radial-gradient(116.19% 210.15% at 36.27% 57.58%, #89E8CD 0%, #87E4CB 14%, #83D8C6 28%, #7BC4BE 42%, #71A8B3 56%, #6384A5 70%, #535893 84%, #40257F 98%, #3D1D7C 100%);
  }
}
